APP_NAME="dn42 Autopeer"
HOST="127.0.0.1"
PORT="8000"
DOMAIN="example.com"
SESSION_SECRET="change-me"
DATABASE_URL="sqlite:///./autopeer.db"
LOCAL_ASN="4242420000"

KIOUBIT_PUBLIC_KEY_PATH="app/keys/public_key.pem"

TELEGRAM_BOT_TOKEN=""
TELEGRAM_BACKEND_SECRET="change-me-too"

DEFAULT_AGENT_URL="http://127.0.0.1:8080"
